
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln
*.suo
*.vssscc
*.vssscc


bin/
obj/


CoursesService/CoursesService.csproj.user
CoursesService/CoursesService.http


CoursesService/courses.db


*.log


secrets.json


TestResults/


.DS_Store
Thumbs.db

.vscode/
.idea/

packages/
CoursesService/CoursesService/courses.db
